name: {{scheme-name}} # by {{scheme-author}}
accent: '#{{base0D-hex}}'
cursor: '#{{base0D-hex}}'
background: '#{{base00-hex}}'
foreground: '#{{base05-hex}}'
details: {{scheme-variant}}er
terminal_colors:
  bright:
    black: '#{{base03-hex}}'
    blue: '#{{base04-hex}}'
    cyan: '#{{base0F-hex}}'
    green: '#{{base01-hex}}'
    magenta: '#{{base06-hex}}'
    red: '#{{base09-hex}}'
    white: '#{{base07-hex}}'
    yellow: '#{{base02-hex}}'
  normal:
    black: '#{{base00-hex}}'
    blue: '#{{base0D-hex}}'
    cyan: '#{{base0C-hex}}'
    green: '#{{base0B-hex}}'
    magenta: '#{{base0E-hex}}'
    red: '#{{base08-hex}}'
    white: '#{{base05-hex}}'
    yellow: '#{{base0A-hex}}'
